# Dependency directories
/node_modules
/yarn-error.log
/package-lock.json
/yarn.lock

# Environment files
.env.local
.env.development
.env.test
.env.production

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
